* {
  padding: 0;
  margin: 0;
  height: auto;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: antiquewhite;
  display: grid;
}

.container {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
}

.container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-top: 40px;
}

button {
  width: 150px;
  height: 40px;
  border: none;
  opacity: 0.6;
  margin-top: 10px;
  color: aliceblue;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  background-color: black;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

dialog:open {
  display: flex;
  margin: auto;
  height: 360px;
  width: 300px;
  padding: 16px;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out,
    display 0.5s allow-discrete;
  background-color: bisque;
  border-radius: 10px;
}

dialog:open {
  transform: translateY(0);
  opacity: 1;
  display: flex;
  border: none;
}

::backdrop {
  background-color: #222222;
  opacity: 0.75;
  backdrop-filter: blur(2px);
}

dialog > #close {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: black;
  color: white;
  font-weight: bold;
  position: fixed;
  margin-left: 260px;
  padding: 0.25rem;
  margin-top: 2px;
}

form,
form div {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 0.8rem;
}

form div {
  gap: 0.5rem;
}

form h3 {
  font-family: "Roboto";
  font-weight: medium;
}

form label {
  font-family: "Roboto";
  font-weight: 450;
}

form input {
  border: none;
  border-radius: 4px;
  height: 12px;
  padding: 8px;
  font-family: "Raleway", sans-serif;
}

form #read {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.cards {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(2, 240px);
  gap: 15px;
}

.card {
  border-left: yellowgreen solid 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.47);
}

.card h3 {
  color: black;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 24px;
}

.card p {
  margin-top: 2px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-size: 1rem;
  margin-left: 20px;
  font-weight: 450;
  color: black;
}

.card,
.read-button {
  margin-left: 20px;
}

.card,
.remove-button {
  margin-top: 30px;
  margin-left: 20px;
}
